@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
$basic-darkgrey: #2A363B;
$basic-red: #E84A5F;
body {
    margin: 0;
}

/*-------------------HEADER----------------------*/

header {
    position: absolute;
    width: 100%;
    height: 64px;
    background: $basic-darkgrey; 
}

.top_logo{
    top: 8px;
    position: absolute;
    width: 310px;
    height: 48px;
}
.logo {
    height: 100%;
}

/*----------------modal_button_login-----------------*/

.topcorner{
    position:absolute;
    top:0;
    right:0px;
}

.login {
    -webkit-appearance: none;
    border: transparent;
    background: #2A363B;
    position: absolute;
    width: 97px;
    height: 64px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 127px;
    color: white;
}


.login:hover {
    color: #CD465A; 
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $basic-darkgrey;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #FFFFFF;
}

.close-button:hover {
    background-color: #CD465A;;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/*--------------------------------Flexbox for login form----------------------------------*/

.main-box {
    display: flex;
    flex-direction: column;
}

/*-------------rectangle image-------------*/

.box-img {
    margin-left:120px;
    margin-bottom:50px;
}

.box-login {
    margin-top: 10px;
    margin-left:140px;
}

/*----------------common form---------------------*/


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input {
    width:250px; 
    margin-top: 20px;
    margin-left: 70px;
    background-color: #2A363B;
    border: 1px solid rgba(238, 238, 238, 0.2);
    border-radius: 4px;
    height: 30px;
    color: #999999;
    text-align: center;
}

.input:focus {
    outline:none;
    border-color: #E84A5F; 
}

/*--------------email form--------------------------*/

#email {
    background: url(/src/images/new.svg);
    background-repeat: no-repeat;
    background-position: center left; 
}


/*-------------------passwd form------------------*/


.passwd {

    background: url(/src/images/new2.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

/*--------------button login-----------------*/

#login2 {
    margin-left: 70px;
    margin-top: 80px;
      width: 250px;
      height: 30px;
      background-color: rgba(232, 74, 95, 0.5);
      border-radius: 4px;
      font-weight: 10px;
      font-family: "Noto Sans";
      font-size: 18px;
      line-height: 25px;
      text-align: center;
       font-size: 18px;
      text-align: center;
      color: #929292;
      border: none;
        outline:none;
        cursor: pointer;
    }
/*---------------sign in--------------------------*/
    
    .box-2 {
        display: flex;
        flex-direction: column;
    }

    p {
        margin-left: 100px;
        font-size:12px;
        color:white
    }

    b {
        color: $basic-red;
    }

/*-------------------or---------------------------*/

    .or-box {
        position: center;
        padding-top: 23px;
        padding-left: 18px;
    }

/*----------------society box-------------------*/
    .soc-box {
        padding-top: 20px;
        margin-left: 100px;
    
}
