@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

$basic-darkgrey: #2A363B;
$basic-red: #E84A5F;

body {
    margin: 0;
}
    
p {
    margin-left: 100px;
    font-size:12px;
    color:white
}

b {
    color: $basic-red;
}

/*--------------------------------------HEADER---------------------------------------------*/

header {
    position: absolute;
    width: 100%;
    height: 64px;
    background: $basic-darkgrey; 
}

.top_logo{
    top: 8px;
    position: absolute;
    width: 310px;
    height: 48px;
    
    &-logo {
        height: 100%;
    }
}

/*-------------------------------MODAL BUTTON-----------------------------------------------*/

.topcorner{
    position:absolute;
    top:0;
    right:0px;

    &.login {
        outline: none;
        -webkit-appearance: none;
        border: transparent;
        background: $basic-darkgrey;
        position: absolute;
        width: 97px;
        height: 64px;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-right: 127px;
        color: white;
            
            &:hover {
                color: #CD465A; 
            }
    }
}

/*-------------------------------------MODAL CONTENT----------------------------------------*/

.main_box {
    display: flex;
    flex-direction: column;
   
    /*+++++++++++++++++++++++++++++++LOGIN+++++++++++++++++++++++++++++++*/

    &-modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
        
        &.show_modal {
            opacity: 1;
            visibility: visible;
        }

        &-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $basic-darkgrey;
            padding: 1rem 1.5rem;
            width: 24rem;
            border-radius: 0.5rem;
            
            &-close_button {
                float: right;
                width: 1.5rem;
                line-height: 1.5rem;
                text-align: center;
                cursor: pointer;
                border-radius: 0.25rem;
                background-color: #FFFFFF;
                
                &:hover {
                    background-color: #CD465A;
                }
            }

            &-rectangle {
                margin-left:120px;
                margin-bottom:50px;
            }
            
            &-login_img {
                margin-top: 10px;
                margin-left:140px;
            }
            
            &-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                &-input {
                    width:250px; 
                    margin-top: 20px;
                    margin-left: 70px;
                    background-color: $basic-darkgrey;
                    border: 1px solid rgba(238, 238, 238, 0.2);
                    border-radius: 4px;
                    height: 30px;
                    color: #999999;
                    text-align: center;
                    
                    &:focus {
                        outline:none;
                        border-color: $basic-red; 
                    }
                
                &.passwd {
                    background: url(/src/images/new2.svg);
                    background-repeat: no-repeat;
                    background-position: center left;
            }

                }
            }

        }

        &-box2 {
            display: flex;
            flex-direction: column;
            
            &-or {
                position: center;
                padding-top: 23px;
                padding-left: 18px;
            }
            
            &-soc {
                padding-top: 20px;
                margin-left: 100px;
            }
        }
    }
}

/*+++++++++++++++++++++++++++FORGOT PASSWORD++++++++++++++++++++++++=*/



/*--------------email form--------------------------*/

#email {
    background: url(/src/images/new.svg);
    background-repeat: no-repeat;
    background-position: center left; 
}


/*-----------------red-login-button-----------------*/

#login2 {
    margin-left: 70px;
      width: 250px;
      height: 30px;
      background-color: rgba(232, 74, 95, 0.5);
      border-radius: 4px;
      font-weight: 10px;
      font-family: "Noto Sans";
      font-size: 18px;
      line-height: 25px;
      text-align: center;
       font-size: 18px;
      text-align: center;
      color: #929292;
      border: none;
        outline:none;
        cursor: not-allowed;
    }

/*---------------error message about password-----*/

    #error_p {
        visibility: hidden;
        margin: 15px 75px;
        color: $basic-red;
    }

/*-------------forgot password-------------*/
    #forgot {
        margin-left: 170px;
        border: none;
        font-size: 10px;
        background-color: $basic-darkgrey; 
        height: 10px;
        width: 200px;
        color: white;
        outline: none;   
        &:hover {
            font-size: 11px;
        }
    }



.mdl {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.mdlcontent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
